@model FınalProjectBeginning.Models.Event
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="text-black">
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CetUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CetUser.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" >Edit</a> 
    @* @if ((await AuthorizationService.AuthorizeAsync(User, Model, Operations.Edit)).Succeeded) *@
    @* {
        <p>
            <a class="btn btn-default" role="button"
               href="@Url.Action("Edit", "Document", new { id = Model.Id })">Edit</a>
        </p>
    } *@
    <a asp-action="Index">Back to List</a>
    <a href="~/menus/create?eventid=@Model.Id"><btn>Add menu</btn></a>
    <a href="~/Evaluations/create?eventid=@Model.Id"><btn>Add evaluation</btn></a>
    <a asp-action="Delete" asp-route-id="@Model?.Id">Delete</a>

</div>



<div>
    <h4>Event Menus</h4>
    <hr />
    <ul class="text-black">
        @foreach (var menu in Model.Menus)
        {
            <li>
                <strong>@menu.Name</strong>: @menu.Description - Price: @menu.Price
            </li>
        }
    </ul>
</div>

        <div>@Model.CetUser.Posts</div>


<section class="client_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center psudo_white_primary mb_45">
            <h2>
                What Says Our Customers
            </h2>
        </div>
        <div class="carousel-wrap row ">
            <div class="owl-carousel client_owl-carousel owl-loaded owl-drag">


                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transform: translate3d(-1440px, 0px, 0px); transition: all 0.25s ease 0s; width: 2880px;">
                        @foreach (var item in Model.Evaluations)
                        {
                            <div class="owl-item cloned" style="width: 480px;">
                                <div class="item">
                                    <div class="box">
                                        <div class="detail-box">
                                            <p>
                                                @item.Description
                                            </p>
                                            <h6>
                                                @item.CetUser.Name
                                            </h6>
                                            <p>
                                                @Model.Title
                                            </p>
                                        </div>
                                        <div class="img-box">
                                            <img src="~/images/@item.CetUser.Kulsayfasis.First().ImageName" alt="" class="box-img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
                <div class="owl-nav disabled">
                    <button type="button" role="presentation" class="owl-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
                    <button type="button" role="presentation" class="owl-next"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                </div>
                <div class="owl-dots disabled">
                </div>
            </div>
        </div>
    </div>
</section>