@model FınalProjectBeginning.Models.Event
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CetUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CetUser.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" >Edit</a> 
    @* @if ((await AuthorizationService.AuthorizeAsync(User, Model, Operations.Edit)).Succeeded) *@
    @* {
        <p>
            <a class="btn btn-default" role="button"
               href="@Url.Action("Edit", "Document", new { id = Model.Id })">Edit</a>
        </p>
    } *@
    <a asp-action="Index">Back to List</a>
    <a asp-controller="Menus" asp-action="Create"><btn>Add menu</btn></a>
 
</div>



<div>
    <h4>Event Menus</h4>
    <hr />
    <ul>
        @foreach (var menu in Model.Menus)
        {
            <li>
                <strong>@menu.Name</strong>: @menu.Description - Price: @menu.Price
            </li>
        }
    </ul>
</div>
