@model IEnumerable<FınalProjectBeginning.Models.Event>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<CetUser> SignInManager
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Restoran"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
else
{
    <p>To Create a event, you must be corrected via Restoran</p>
}
<table class="table text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventLocation)
            </th>
            <th></th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.CetUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventLocation)
            </td>
                <td>
                
                        @* @if (string.IsNullOrEmpty(item.ImageName)) *@
                        
                        <img src="~/images/@item.ImageName" width="60"/>
                        @* <img src="~/images/hero-bg.jpg" alt=""></img> *@
                        
                </td>
                <td>
                    <form asp-controller="Events" asp-action="Participate" method="post">
                        <input type="hidden" name="eventId" value="@item.Id" />
                        <button type="submit">Katıl</button>
                    </form>
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.CetUser.Name)
            </td>
            <td>
                    @if (User.IsInRole("Restoran") && User.IsInRole("Admin")) 
                    {
                        @*  if ( item.CetUserId == userID)  *@
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    else
                    {
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        @* <a asp-controller="Menus" asp-action="Details" asp-route-id ="@">Menu</a> *@
                        
                        @* @foreach (var menu in item.Menus)
                        {
                            <a asp-controller="Menus" asp-action="Details" asp-route-id="@menu.Id">Menu</a>
                        } *@

                       @*  @if (item.Menus != null && item.Menus.Any())
                        {
                            foreach (var menu in Model.Menus)
                            {
                                <a asp-controller="Menus" asp-action="Details" asp-route-id="@menu.Id">Menu</a>
                            }
                        }
                        else
                        {
                            <p>Menü bulunamadı.</p>
                        } *@
                        
                   
                        
                        
                    }
            </td>
        </tr>
}
    </tbody>
</table>

