@model IEnumerable<FınalProjectBeginning.Models.Event>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<CetUser> SignInManager
@inject UserManager<CetUser> UserManager
@{
    ViewData["Title"] = "Sıralanmış Eventler";
    }
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <style>
        .food_section h2,
        .food_section h5,
        .food_section h4,
        .food_section p,
        .food_section btn {
            color: #fff;
        }
    </style>
</head>

<h1 class="text-black">Sıralanmış Eventler or Ana Sayfa</h1>



<table class="table text-black">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CetUser)
            </th>
            <th>Okunma Sayisi</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CetUser.Name)
 
            </td>
                <td>@Html.DisplayFor(modelItem => item.ReadCount)</td>
            <td>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Restoran") && item.CetUserId == UserManager.GetUserId(User))
                {
                <a asp-controller="Events" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a asp-controller="Events" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <a asp-controller="Events" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }

            </td>
        </tr>
}
    </tbody>
</table>
<section class="food_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Our Menu
            </h2>
        </div>
        <div class="filters-content">
            <div class="row grid">
                @foreach (var item in Model)
                {

                    <div class="col-sm-6 col-lg-4 all pizza">
                        <div class="box">
                            <div>
                                <div class="img-box">
                                    <a asp-controller="Events" asp-action="Details" asp-route-id="@item.Id">
                                        <img src="images/@item.ImageName" alt="">
                                    </a>
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        @item.Title
                                    </h5>
                                    <h4>
                                        @item.CetUser.Name
                                    </h4>
                                    <p>
                                        @item.Body
                                    </p>
                                    <div>
                                        <a href="~/Evaluations/create?eventid=@item.Id"><btn>Add evaluation</btn></a>
                                        <btn>Katil</btn>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>



<section class="client_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center psudo_white_primary mb_45">
            <h2>
                What Says Our Customers
            </h2>
        </div>
        <div class="carousel-wrap row ">
            <div class="owl-carousel client_owl-carousel owl-loaded owl-drag">


                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transform: translate3d(-1440px, 0px, 0px); transition: all 0.25s ease 0s; width: 2880px;">
                        @foreach (var item in Model)
                        {
                            @foreach(var eva in item.Evaluations)
                            {
                            <div class="owl-item cloned" style="width: 480px;">
                                <div class="item">
                                    <div class="box">
                                        <div class="detail-box">
                                            <p>
                                                @eva.Description
                                            </p>
                                            <h6>
                                                @eva.CetUser.Name 
                                            </h6>
                                            <p>
                                                @item.Title
                                            </p>
                                        </div>
                                        <div class="img-box">
                                            <img src="~/images/@eva.CetUser.Kulsayfasis.First().ImageName" alt="" class="box-img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                        }

                    </div>
                </div>
                <div class="owl-nav disabled">
                    <button type="button" role="presentation" class="owl-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
                    <button type="button" role="presentation" class="owl-next"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                </div>
                <div class="owl-dots disabled">
                </div>
            </div>
        </div>
    </div>
</section>


@* <script>
    $(document).ready(function () {
        $(".owl-carousel").owlCarousel({
            loop: true, // Döngü kapalı
            margin: 10,
            nav: true, // Navigasyon butonları etkin
            items: 3 // Görüntülenecek öğe sayısı
        });
    });
</script> *@














