@model FınalProjectBeginning.Models.Kulsayfasi

@* @{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CetUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CetUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div> *@
<main>
    <div class="container">
        <div class="row m-b-r m-t-3">
            <div class="col-md-2 offset-md-1">
                <img src="~/images/@Model.ImageName" alt="" class="img-circle img-fluid">
            </div>
            <div class="col-md-9 p-t-2">
                <h2 class="h2-responsive">@Model.CetUser.Name <button type="button" class="btn btn-info-outline waves-effect text-white">Follow</button></h2>
                <p>@User.Identity.Name @ViewBag.Name</p>

                <ul class="flex-menu">
                    <li><strong>41</strong> posts</li>
                    <li><strong>47k</strong> followers</li>
                    <li><strong>208</strong> following</li>
                </ul>
            </div>
        </div>
        <section class="food_section layout_padding">
            <div class="container">

                <div class="filters-content">
                    <div class="row grid">

                        @foreach (var post in Model.CetUser.Posts)
                        {
                            <div class="col-sm-6 col-lg-4 all pizza">
                                <div class="box">
                                    <div>
                                        @* <div class="img-box">
                                    <a asp-controller="Posts" asp-action="Details" asp-route-id="@item.Id">
                                    <img src="images/@item.ImageName" alt="" >
                                    </a> *@
                                        
                                        <a asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id">
                                            <img src="~/images/@post.ImageName" alt="" width="350">
                                        </a>
                                        
                                    </div>
                                       
                                    </div>
                                </div>


                        }

                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

<main>
    <div class="container">
        <div class="row m-b-r m-t-3">
            <div class="col-md-2 offset-md-1">
                <img src="~/images/@Model.ImageName" alt="" class="img-circle img-fluid">
            </div>
            <div class="col-md-9 p-t-2">
                <h2 class="h2-responsive">
                    @Model.CetUser.Name
                    <button type="button" class="btn btn-info-outline waves-effect text-white">Follow</button>
                </h2>
                <p>@User.Identity.Name @ViewBag.Name</p>

                <ul class="flex-menu">
                    <li><strong>41</strong> posts</li>
                    <li><strong>47k</strong> followers</li>
                    <li><strong>208</strong> following</li>
                </ul>
            </div>
        </div>
        <section class="food_section layout_padding">
            <div class="container">
                <div class="filters-content">
                    <div class="row grid">
                        @foreach (var post in Model.CetUser.Posts)
                        {
                            <div class="col-sm-6 col-lg-4 all pizza">
                                <div class="box">
                                    <div class="img-box">
                                        <a asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id">
                                            <img src="~/images/@post.ImageName" alt="">
                                        </a>
                                    </div>
                                    <div class="detail-box">
                                        <h5>@post.Title</h5>
                                        <!-- Diğer post bilgileri buraya eklenebilir -->
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>