@model IEnumerable<FınalProjectBeginning.Models.Kulsayfasi>
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<CetUser> SignInManager
@inject UserManager<CetUser> UserManager
@{
    ViewData["Title"] = "Index";
}
@{
    var kulsayfasiId = ViewBag.KulsayfasiId;
}
@section Styles {
    <style class="sub_page">
        body {
           
            /* background-color: #222831; */
            
        }
    </style>
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table text-black">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.CetUser)</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.CetUser.Id)</td>
                <td>
                    @if (User.Identity.IsAuthenticated && item.CetUser.Id != User.Identity.Name)
                    {
                        if (User.Identity.Name == item.CetUser.Name)
                        {

                        }
                        else
                        {
                            var isFollowed = item.IsFollowedByCurrentUser; // Adjust based on your model
                            @* <button id="followButton_@item.CetUser.Id" onclick="toggleFollow('@item.CetUser.Id', this)">
                                @(isFollowed ? "Takip Ediliyor" : "Takip Et")
                            </button> *@

                            <button id="followButton_@item.CetUser.Id" onclick="toggleFollow('@item.CetUser.Id', this)">
                                <span id="followButtonText_@item.CetUser.Id">@((isFollowed ? "Takip Ediliyor" : "Takip Et"))</span>
                            </button>
                        } 
                    }
                </td>
                <td>
                    @if (SignInManager.IsSignedIn(User)  && item.CetUser.Id == UserManager.GetUserId(User))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    else
                    {
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@* CSRF token'ı almak için form oluşturuyoruz *@
<form id="csrf-form" style="display:none;">
    @Html.AntiForgeryToken()
</form>

<section class="food_section layout_padding">
    <div class="container">
        
        <div class="filters-content">
            <div class="row grid">
                @foreach (var item in Model)
                {

                    <div class="col-sm-6 col-lg-4 all pizza">
                        <div class="box">
                            <div>
                                <div class="img-box">
                                    <a asp-controller="Kulsayfasis" asp-action="Details" asp-route-id="@item.Id">
                                        <img src="images/@item.ImageName" alt="">
                                    </a>
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        @item.CetUser
                                    </h5>
                                    <h4>
                                        @item.CetUser.Name
                                    </h4>
                                    <p>
                                        @item.Description
                                    </p>
                                    <div>

                                        
                                        <button >
                                           Takip et
                                        </button>
                                        


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <script>
        function getAntiForgeryToken() {
            return $('input[name="__RequestVerificationToken"]').val();
        }

        function toggleFollow(userId, button) {
            var isFollowing = button.innerText === "Takip Ediliyor";
            var url = isFollowing ? '/Kulsayfasis/UnfollowUser' : '/Kulsayfasis/FollowUser';

            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    userId: userId,
                    __RequestVerificationToken: getAntiForgeryToken()
                },
                success: function (data) {
                    if (data === "followed") {
                        button.innerText = "Takip Ediliyor";
                    } else if (data === "unfollowed") {
                        button.innerText = "Takip Et";
                    }
                }
            });
        }

        // Sayfa yüklendiğinde, her butonun takip durumunu kontrol etmek için
        $(document).ready(function () {
            $('[id^=followButton_]').each(function () {
                var userId = this.id.split('_')[1];
                var button = this;
                toggleFollow(userId, button); // Takip durumunu kontrol et
            });
        });

    </script>
}




<section class="food_section layout_padding">
    <div class="container">

        <div class="filters-content">
            <div class="row grid">
                @foreach (var item in Model)
                {
                    <div class="col-sm-6 col-lg-4 all pizza">
                        <div class="box">
                            <div>
                                @* <div class="img-box">
                            <a asp-controller="Posts" asp-action="Details" asp-route-id="@item.Id">
                            <img src="images/@item.ImageName" alt="" >
                            </a> *@
                                <a asp-controller="Posts" asp-action="Details" asp-route-id="@item.Id">
                                    <img src="images/@item.ImageName" width="100%" height="250px" alt="">
                                </a>
                            </div>

                        </div>
                    </div>


                }

            </div>
        </div>
    </div>
</section>